<template>
  <div class="calendar">
    <div class="calendar__years">
      <p>2019</p>
      <p>2018</p>
      <p>2017</p>
      <p>2016</p>
      <p>2015</p>
      <p>2014</p>
      <p>2013</p>
      <p>2012</p>
      <p>2011</p>
      <p>2010</p>
      <p>2009</p>
      <p>2008</p>
      <p>2007</p>
      <p>2006</p>
      <p>2005</p>
      <p>2004</p>
    </div>

    <div class="calendar__months">
      <p>Январь</p>
      <p>Февраль</p>
      <p>Март</p>
      <p>Апрель</p>
      <p>Май</p>
      <p>Июнь</p>
      <p>Июль</p>
      <p>Август</p>
      <p>Сентябрь</p>
      <p>Октябрь</p>
      <p>Ноябрь</p>
      <p>Декабрь</p>
    </div>
  </div>
</template>

<script>
  export default {
    name: "test"
  }
</script>

<style scoped>

</style>
