<template>
<div class="form">
  <h3 class="title">✎ Создать новость</h3>
 <div class="wrapper">
   <p class="createData">
     <lable>Введите дату
     <span class="required">
       * дд/мм/гггг *</span>
     </lable>
     <input class="createData__firstInput"
            maxlength="65525" type="text" >
   </p>
   <p class="createTitle">
     <lable>
       Заголовок
       <span class="required">*</span>
     </lable>
     <input class="createTitle__secondInput"  maxlength="65525" type="text">
   </p>
   <p class="createText">
     <lable>
       Текст
     </lable>
       <textarea name="" id="" cols="45" rows="8"
                 maxlength="65525"></textarea>
   </p>
   <p class="for-submit">
     <button class="submitBtn">Дбавить новость</button>
   </p>
 </div>
</div>
</template>

<script>
export default {
  name: "CreateForm"
}
</script>

<style scoped>

</style>
