<template>
  <div class="footer">
    <div class="footer__title">
      <div class="footer__title__group">
        <p class="footer__title__group__main">{{$t('Aboutcompany')}}</p>
        <div class="footer__title__group__intelligence">
          <p>{{$t('Gazpromtoday')}}</p>
          <p>{{$t('History')}}</p>
          <p>{{$t('Guide')}}</p>
          <p>{{$t('Standard')}}</p>
          <p>{{$t('Vacancies')}}</p>
        </div>
        <p class="footer__title__group__main">{{$t('Responsibility')}}</p>
        <div class="footer__title__group__intelligence">
          <p>{{$t('Charity')}}</p>
          <p>{{$t('Sponsorship')}}</p>
          <p>{{$t('Security')}}</p>
          <p>{{$t('Protection')}}</p>
        </div>
      </div>
      <div class="footer__title__group">
        <p class="footer__title__group__main">{{$t('Presscenter')}}</p>
        <div class="footer__title__group__intelligence">
          <p>{{$t('News')}}</p>
          <p>{{$t('Massmedia')}}</p>
          <p>{{$t('Speaker')}}</p>
          <p>{{$t('Gallery')}}</p>
          <p>{{$t('Video')}}</p>
        </div>
        <p class="footer__title__group__main">{{$t('Fuel')}}</p>
        <div class="footer__title__group__intelligence">
          <p>{{$t('Description')}}</p>
          <p>{{$t('Advantages')}}</p>
          <p>{{$t('Scheme')}}</p>
          <p>{{$t('Manufacturers')}}</p>
          <p>{{ $t('HBO') }}</p>
        </div>
      </div>
      <div class="footer__title__group">
        <p class="footer__title__group__main">{{$t('Implementation')}}</p>
        <div class="footer__title__group__intelligence">
          <p>{{$t('Individuals')}}</p>
          <p>{{$t('Legalentities')}}</p>
          <p>{{$t('Indications')}}</p>
          <p>{{$t('Payment')}}</p>
          <p>{{$t('Tariffs')}}</p>
          <p>{{$t('Installation')}}</p>
          <p>{{$t('Service')}}</p>
        </div>
        <p class="footer__title__group__main">{{$t('Procurement')}}</p>
        <div class="footer__title__group__intelligence">
          <p>{{$t('Results')}}</p>
          <p>{{$t('Position')}}</p>
        </div>
        <p class="footer__title__group__main">{{$t('Personalarea')}}</p>
        <div class="footer__title__group__intelligence">
          <p>{{$t('Testimony')}}</p>
          <p>{{$t('Pay')}}</p>
        </div>
      </div>
      <div class="footer__title__reference">
        <div class="footer__title__reference__support">
          <div class="footer__title__reference__support__number">
            <p class="footer__title__reference__support__whit">{{$t('Background')}}</p>
            <div class="footer__title__reference__support__number__phone">
              <img src="../images/phone.svg" alt="">
              <a class="footer__title__reference__support__number__phone__white" href="tel:4444">4444</a>
            </div>
          </div>
          <div class="footer__title__reference__support__number">
            <p class="footer__title__reference__support__red">{{$t('Emergency')}}</p>
            <div class="footer__title__reference__support__number__phone">
              <img src="../images/phon.svg" alt="">
              <a class="footer__title__reference__support__number__phone__red" href="tel:104">104</a>
            </div>
          </div>
        </div>
        <button class="footer__title__reference__message">{{$t('Message')}}</button>
        <div class="footer__title__reference__text">
          <p class="footer__title__reference__text__p">{{$t('Contacts')}}</p>
          <p class="footer__title__reference__text__address">{{$t('Address')}}</p>
          <p class="footer__title__reference__text__mail">
            {{$t('Connection')}}
          </p>
          <p class="footer__title__reference__text__branch">{{$t('Fil')}}</p>
        </div>
        <div class="footer__title__reference__social">
          <a href="https://www.facebook.com/"><img src="../images/facebook.svg" alt=""></a>
          <a href="https://twitter.com/"><img src="../images/twitter.svg" alt=""></a>
          <a href="https://www.youtube.com/"><img src="../images/youtube.svg" alt=""></a>
          <a href="https://www.instagram.com/"><img src="../images/instagram.svg" alt=""></a>
        </div>
      </div>
    </div>
    <hr>
    <p class="footer__information">{{$t('LLC')}}</p>

  </div>
</template>

<script>
export default {
  name: "FooterNews"
}
</script>

<style scoped>

</style>
