<template>
  <div class="header">
    <div class="header__logo"><a target="_blank" href="https://youtu.be/dQw4w9WgXcQ"><img src="../assets/logo.svg"
                                                                                          alt="Gazprom"></a></div>
    <div class="header__menu">
      <div class="header__menu__left">
        <p>{{$t('about')}}</p>
        <p>{{$t('press')}}</p>
        <p>{{$t('social')}}</p>
        <p>{{$t('gas')}}</p>
        <p>{{$t('fuel')}}</p>
        <p>{{$t('buy')}}</p>
        <p>{{$t('contacts')}}</p>
      </div>
      <div class="header__menu__right">
        <p class="header__menu__right-emergency">
          <a
            class="tel"
            href="tel:104">
          {{$t('emergency')}}
            <img style="height: 15px; width: 15px; margin: 0 3px" src="../assets/Phone.png" alt=""
          > 104
          </a>
        </p>
        <p class="header__menu__right-buttons"><a class="tel" href="tel:4444">{{$t('call')}} <img style="height: 15px; width: 15px; margin: 0 3px"
                                                                                      src="../assets/Phone.png" alt=""> 4444</a></p>
        <div class="q-pa-md">
          <q-btn-dropdown class="langs" :label="$t('langs')">
            <q-list>
              <q-item clickable v-close-popup @click="setLocale('ru-RU')">
                <q-item-section>
                  <q-item-label><img style="height: 15px; width: 15px; margin-right: 5px" src="../assets/RU.png" alt="">Русский</q-item-label>
                </q-item-section>
              </q-item>

              <q-item clickable v-close-popup @click="setLocale('kg-KG')">
                <q-item-section>
                  <q-item-label><img style="height: 15px; width: 15px; margin-right: 5px"
                                     src="../assets/KG.png" alt=""> Кыргызча</q-item-label>
                </q-item-section>
              </q-item>

              <q-item clickable v-close-popup @click="setLocale('en-US')">
                <q-item-section>
                  <q-item-label><img style="height: 15px; width: 15px; margin-right: 5px" src="../assets/US.png" alt=""> English</q-item-label>
                </q-item-section>
              </q-item>
            </q-list>
          </q-btn-dropdown>
        </div>
        <p v-on:click="search = !search" class="header__menu__right-buttons"><img
          style="height: 15px; width: 15px; margin: 0 3px" src="../assets/search.png" alt="">{{search ? 'Закрыть поле поиска' : 'Поиск по сайту'}}</p>
        <p class="header__menu__right-buttons"><img style="margin: 0 3px" src="../assets/profile.svg" alt=""> {{$t('area')}}</p>
      </div>
    </div>
  </div>
  <div class="search">
    <div>
      <img class="search-cross" v-if="search" v-on:click="search = !search"
           src="http://s1.iconbird.com/ico/2013/10/464/w512h5121380984637delete1.png" alt="">
    </div>
    <q-input class="search-input" v-if="search" outlined v-model="text"
             label="Введите название статьи которую хотите найти"/>
  </div>
</template>

<script>
  export default {
    name: "Main",
    data() {
      return {
        search: false
      }
    },
    methods:{
      setLocale(lingo){
        localStorage.setItem('lang', lingo)
        this.$i18n.locale = lingo
      }
    }
  }
</script>

<style scoped>
  .block{
    text-transform: lowercase;
  }
  .q-hoverable{
    text-transform: none;
  }
  .q-pa-md{
    padding: 0;
    display: inline-flex;
    flex-direction: column;
    position: relative;
    outline: 0;
    border: 0;
    vertical-align: middle;
    line-height: 1.715em;
    text-decoration: none;
    text-transform: inherit;
    color: inherit;
    text-align: center;
    height: auto;
    cursor: default;
  }
  .langs{
    background: transparent;
  }
  .q-item{
    padding: 7px 10px;
    display: flex;
    border-radius: 5px;
    align-items: center;
    margin: 2px 3px;
  }
  .q-item__label{
    display: flex;
    align-items: center;
  }
  .q-btn:before{
    box-shadow: 0 0 0;
  }
  .q-btn{
    text-transform: none;
  }

</style>
