<template>
  <div class="infoNews">
    <div class="wrapper">
       <a href="#">Пресс-центр /</a>
      <div>
        <h5 class="title">Компания «Газпром Кыргызстан» приняла участие в митинге-реквиеме блокадникам Ленинграда</h5>
        <div class="firstInf">
          <p class="firstInf_memoirs" >В знак благодарности и вечной памяти отважным солдатам 18 января 2019 года компания
            «Газпром Кыргызстан» приняла участие в митинге-реквиеме, посвященному 76-ой годовщине полного
            освобождения Ленинграда от блокады.</p>
          <img src="../assets/firstNews.jpg" alt="">
        </div>
        <div class="secondInf">
          <p class="secondInf_war">В годы Великой Отечественной войны из блокадного Ленинграда в Киргизскую
            ССР были эвакуированы свыше 16 тысяч человек, в том числе 3,5 тысячи детей.
            На сегодняшний день в кыргызском обществе блокадников числится 20
            блокадников с потомками по всему Кыргызстану.</p>
          <img src="../assets/secondImg.jpg" alt="">
        </div>
        <div class="teethInf">
          <p class="teethInf_history">«В то время стоял страшный голод, всего 500 граммов хлеба на всю семью и больше ничего.
          Несмотря на бесконечные обстрелы, бомбежки и голодовку — мы все-таки выжили!»,
          — вспоминает тяжелые периоды войны руководитель кыргызского общества блокадников Анна Кутанова.</p>
          <p class="teethInf_anna">Особую благодарность блокадница Анна Кутанова выразила правительству республики,
            мэрии города и компании «Газпром Кыргызстан» за постоянную помощь и поддержку.</p>
          <img  src="../assets/memorial.jpg" alt="">
        </div>
        <div class="fourInf">
          <p class="fourInf_change">Реконструкция памятника блокадникам Ленинграда была произведена компанией
            «Газпром Кыргызстан» в 2015 году. В рамках реконструкции была заменена стела памятника,
            обновлена лестничная площадка,
            проведена облицовка памятных камней, символизирующих годы блокады</p>
          <p class="fourInf_data">«Высокая честь сегодня быть рядом с вами, чтобы отметить этот знаменательный день,
            памятную дату, которая близка нашим сердцам — День прорыва блокады Ленинграда.
            900 страшных дней и ночей город сражался и выстоял. Народ Кыргызстана принял 16 тысяч блокадников.
            И сегодня для нас этот день является символом твердости человеческого духа, несгибаемой воли и
            непоколебимости советского народа. Мы не устанем говорить вам спасибо за великий подвиг,
            за ваше неиссякаемое мужество и стойкость! Желаем всем вам доброго здоровья, долголетия и благополучия»,
            — обратился к ветеранам-блокадникам Сабырбек Акимбаев, заместитель генерального директора ОсОО
            «Газпром Кыргызстан»,
            поблагодарив за благодарственное письмо кыргызское общество блокадников.</p>
          <p class="fourInf_end">Памятное мероприятие завершилось возложением цветов и концертной программой.</p>
        </div>
        <div class="links">
          <h6 class="send">Поделиться:</h6>
          <a class="facebook" href="https://www.facebook.com">
            <img src="../assets/facebook.svg" alt="">
          </a>

          <a class="twitter" href="https://twitter.com/">
            <img src="../assets/twitter.svg" alt="">
          </a>

          <a class="vk" href="https://vk.com/login">
            <img src="../assets/vk.svg" alt="">
          </a>

          <a class="ok" href="https://connect.ok.ru/">
            <img src="../assets/ok.svg" alt="">
          </a>

          <a  class="wht" href="https://api.whatsapp.com">
            <img src="../assets/wht.svg" alt="">
          </a>

          <a class="tgm" href="https://t.me">
            <img src="../assets/tel.svg" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
export default {
  name: "infoNews"
}
</script>

<style scoped>

</style>
