<template>
  <div class="content">
    <div class="content-info">

      <div class="content__title">
        <h4 class="content__title-M">
          {{getNewsById.title}}
        </h4>

        <div class="content__title-date">
          <p>{{getNewsById.date}}</p>
        </div>

        <div class="content__info-image">
          <img :src="getNewsById.image" alt="">
        </div>

        <!--        <hr class="content__line">-->
        <div class="content__second-titleM">
          {{getNewsById.news}}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "news-page",
  methods: {
  },
  computed: {
    getNewsById() {
      return this.$store.state.news.newsById
    },
    id () {
      return this.$route.params.newsId
    }
  },
  created() {
    this.$store.dispatch('news/getNewsById', this.id)
  }
}
</script>

<style scoped>

</style>

