<template>
 <div class="firstNews">
   <a href="#">21 января 2019</a>
   <div class="wrapper">
     <div class="picture">
       <img src="../assets/flowers.png" alt="">
     </div>
     <div class="texts">
       <a href="#/info" class="texts_title"><p>Компания «Газпром Кыргызстан» приняла участие в митинге-реквиеме блокадникам Ленинграда</p></a>
       <p class="texts_inform">
         В знак благодарности и вечной памяти отважным солдатам 18 января 2019 года компания «Газпром Кыргызстан» приняла участие в митинге-реквиеме, посвященному 76-ой годовщине полного...
       </p>
     </div>
   </div>
   <div class="line"></div>
 </div>
</template>

<script>
export default {
  name: "newsMain"
}
</script>

<style scoped>

</style>
