<template>
 <div class="firstNews">
   <a href="#">{{news.date}}</a>
   <div class="wrapper">
     <div class="picture">
       <img :src="news.image" alt="news-image">
     </div>
     <div class="texts">
       <a href="#/info" class="texts_title">
       </a>
       <router-link class="expand-card__btn" :to="{ name: 'details', params: { newsId: news._id } }">
         <p>{{news.title}}</p>
       </router-link>

       <p class="texts_inform">
         {{sliceText}}
       </p>
     </div>
   </div>
   <div class="line"></div>
 </div>
</template>

<script>
export default {
  name: "newsMain",
  props: {
    news: {
      type: Object,
      default: () => {}
    }
  },
  computed: {
    sliceText () {
      return this.news.news.slice(0, 60) + '...'
    }
  }
}
</script>

<style scoped>

</style>
