.calendar{
  display: flex;
  margin-left: 27px;

  &__years{
    font-size: 14px;
    font-family: Inter;
    p{
      border: 1px solid transparent;
      padding: 2px 3px;
      &:hover{
        border: 1px solid #0072BA;
        color: #0072BA;
      }
    }
  }
  &__months{
    font-size: 14px;
    font-family: Inter;
    margin-left: 37px;
    p{
      border: 1px solid transparent;
      padding: 2px 3px;
      &:hover{
        border: 1px solid #0072BA;
        color: #0072BA;
      }
    }
  }
}
