$backCol: #deb4f3;
$formCol: honeydew;
$requiredCol: #3286ea;
$textCol:rgba(0,0,0,.8);
$inputCl: #ffffff;
$borderCl: #adadad;
*{
  margin: 0;
  padding: 0;
}
.form{
  background-color: $backCol;
  padding-bottom: 50px;
  padding-top: 20px;
}
.title{
  margin: 20px auto;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  padding-bottom: 10px;
  color: $textCol;
}
.wrapper{
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 20px auto;
  box-shadow: 0 0 5px #333;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: auto;
  background-color: $formCol;
  .createData{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin: 0 0 20px;
    line-height: 30px;
    color: $textCol;

    .required{
      color: $requiredCol;
    }
    &__firstInput{
      background-color: $inputCl;
      border: 1px solid $borderCl;
      border-radius: 2px;
      padding: 10px 90px;
    }

  }
  .createTitle{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin: 0 0 20px;
    line-height: 30px;
    color: $textCol;
    .required{
      color: $requiredCol;
    }
    &__secondInput{
      background-color: $inputCl;
      border: 1px solid #d1d1d1;
      border-radius: 2px;
      padding: 10px 90px;
    }
  }
  .createText{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin: 0 0 20px;
    line-height: 30px;
    color: $textCol;

    &__lastInput{
      background-color: $inputCl;
      border: 1px solid #d1d1d1;
      border-radius: 2px;

    }
  }
  .for-submit{
    border-radius: 2px;
    font-family: Montserrat, "Helvetica Neue", sans-serif;
    text-transform: none;
    .submitBtn{
      background-color: $requiredCol ;
      color: $inputCl;
      padding: 7px 35px;
      border: 1px solid #ccc;
      border-radius: 10px;
    }

  }
}
