.footer {
  background: #000000;
  //Width: 1349px;
  Height: 670px;
}
.footer__title {
  display: flex;
  padding-top: 40px;
  padding-left: 180px;
  color: white;
}
.footer__title__group {
  display: block;
  padding-right: 100px;
  padding-bottom: 30px;
}
.footer__title__group .footer__title__group__main {
  width: 160px;
  font-size: 18px;
}
.footer__title__group__intelligence {
  display: block;
  color: #B2B2B2;
  font-size: 12px;
  width: 140px;
}
.footer__title__reference {
  display: block;
}
.footer__title__reference__support {
  display: flex;
}
.footer__title__reference__support__red {
  color: #FF4E3C;
  height: 5px;
}
.footer__title__reference__support__whit {
  height: 5px;
}
.footer__title__reference__support__number {
  padding-right: 70px;
}
.footer__title__reference__support__number__phone {
  display: flex;
}
.footer__title__reference__support__number__phone__white {
  font-size: 44px;
  color: white;
  text-decoration: none;
}
.footer__title__reference__support__number__phone__red {
  font-size: 44px;
  color: #FF4E3C;
  text-decoration: none;
}
.footer__title__reference__message {
  color: #FFFFFF;
  margin-top: 50px;
  width: 180px;
  height: 40px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: 1px solid #FFFFFF;
  cursor: pointer;
  overflow: hidden;
}
.footer__title__reference__text {
  padding-top: 50px;
}
.footer__title__reference__text__p {
  color: #FFFFFF;
}
.footer__title__reference__text__address {
  font-size: 12px;
  color: #B2B2B2;
  width: 215px;
}
.footer__title__reference__text__mail {
  font-size: 12px;
  color: #B2B2B2;
  width: 145px;
}
.footer__title__reference__text__branch {
  font-size: 14px;
  color: #FFFFFF;
  width: 145px;
  padding-top: 50px;
}
.footer__title__reference__social{
  padding-top: 40px;
  a{
    padding-right: 30px;
  }
}
.footer__information {
  color: #B2B2B2;
  padding-left: 180px;
  font-size: 12px;
  padding-top: 10px;
}

hr {
  width: 870px;
  padding-left: 180px;
  color: #2A2A2A;
}
