


.wrapper{
  margin-top: 50px;
  margin-left: 69px;
  width: 628px;
  a{
    color: #B2B2B2;
    font-size:14px;
    text-decoration-line: none;
  }
.title{
  margin-top: 10px;
  color: black;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 10px;
  line-height: 25px;
  font-family: 'Inter', sans-serif;
}
  .firstInf{
    padding-top: 10px;
    padding-bottom: 10px;
    &_memoris{
      color: rgba(0,0,0,.8);
      font-family: 'Inter', sans-serif;
      font-size: 14px;
      line-height:24px;
    }
    img{
      width: 639px;
      height: 426px;

    }
  }
  .secondInf{
    padding-top: 10px;
    padding-bottom: 10px;
    &_war{
      color: rgba(0,0,0,.8);
      font-family: 'Inter', sans-serif;
      font-size: 14px;
      line-height:24px;
      font-style: italic;
    }
    img{
      width: 639px;
      height: 426px;
    }
  }
  .teethInf{
    padding-top: 10px;
    padding-bottom: 10px;
    &_history{
      color: rgba(0,0,0,.8);
      font-family: 'Inter', sans-serif;
      font-size: 14px;
      line-height:24px;
      direction: ltr;
    }

    &_anna{
      color: rgba(0,0,0,.8);
      font-family: 'Inter', sans-serif;
      font-size: 14px;
      line-height:24px;
    }
    img{
      width: 639px;
      height: 426px;
    }
  }
  .fourInf{
    padding-top: 10px;
    padding-bottom: 10px;
    &_change{
      color: rgba(0,0,0,.8);
      font-family: 'Inter', sans-serif;
      font-size: 14px;
      line-height:24px;
      direction: ltr;
    }
    &_data{
      color: rgba(0,0,0,.8);
      font-family: 'Inter', sans-serif;
      font-size: 14px;
      line-height:24px;
      direction: ltr;
      font-style: italic;
    }
    &_end{
      color: rgba(0,0,0,.8);
      font-family: 'Inter', sans-serif;
      font-size: 14px;
      line-height:24px;
      direction: ltr;
    }
  }
  .links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
    .facebook{
      img{width: 25px;
        height: 25px;}
    }
    .twitter{
      img{width: 25px;
        height: 25px;}
    }
    .vk{
      img{width: 25px;
        height: 25px;}

    }
    .ok{
     img{
       width: 25px;
       height: 25px;}
    }
    .wht{
      img{
        width: 25px;
        height: 25px;}
    }
    .tgm{
     img{
       width: 25px;
       height: 25px;
     }
    }
  }
}

