.content {
  &-info {

  }

  &__title {
    width: 100%;
    color: #3f4242;
    font-family: 'Roboto', sans-serif;
  }

  &__title-M {
    font-size: 35px;
    padding-bottom: 57px;
    padding-left: 167px;
  }

  &__title-date {
    color: #0072BA;
    padding-left: 167px;
  }

  &__second-titleM {
    width: 63%;
    font-size: 20px;
    padding-left: 167px;
    font-weight: bold;
    color: #3f4242;
  }

  &__info-image {
    img {
      width: 57%;
      height: 100%;
      margin-left: 167px;
    }
  }

  &__line {
    width: 57%;
    height: 2px;
    color: #B2B2B2;
    border-radius: 1mm;
    background: #B2B2B2;
    margin-bottom: 30px;
    margin-left: 167px;
  }
  &__maintenance{
    width: 67%;
    font-size: 17px;
    text-align: justify;
    padding-left: 167px;
  }
  &__translate-Btn{
    background: #26A69A;
    padding: 6px 18px 7px 15px;
    border: 1px solid  #26A69A;
    border-radius: 5px;
    margin-left: 11%;
    outline: none;
    color: white;
  }
  &__drop-down{
    margin-left: 11%;
  }
}
