.header{
  display: flex;
  &__logo{
    margin: 15px 25px;
  }
  &__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #1851E2;
    &__left{
      display: flex;
      flex-wrap: wrap;
      width: 47%;
      p{
        margin: 5px 10px;
        border-bottom: 1px solid RGBA(255,255,255, 0);
        color: white;
        transition-duration: 0.2s;
        padding-bottom: 3px;
        &:hover{
          cursor: pointer;
          border-bottom: 1px solid RGBA(255,255,255,1);
        }
      }
    }
    &__right{
      justify-content: right;
      display: flex;
      flex-wrap: wrap;
      width: 500px;
      color: white;
      align-items: center;
      margin-right: 10px;
      &-buttons{
        margin: 5px 10px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid RGBA(255,255,255, 0);
        transition-duration: 0.2s;
        padding-bottom: 3px;
        &:hover{
          cursor: pointer;
          border-bottom: 1px solid RGBA(255,255,255,1);
        }
      }
      &-emergency{
        text-decoration: none;
        margin: 5px 10px;
        display: flex;
        align-items: center;
        transition-duration: 0.2s;
        border-radius: 5px;
        padding: 4px 7px;
        background: rgb(255, 55, 7);
        &:hover{
          cursor: pointer;
          background: rgb(255, 111, 9);
        }
      }
    }
  }
}
.search{
  transition-duration: 0.2s;
  display: flex;
  align-items: center;
  &-input{
    margin: 5px 10px;
    width: 100%;
  }
  &-cross{
    display: flex;
    align-items: center;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    transition-duration: 0.2s;
    margin: 0 10px 0 20px;
    &:hover{
      cursor: pointer;
      box-shadow: 0 0 20px #ff3622;
    }
  }
}
.tel{
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}
