.firstNews{
  margin-top: 62px;
  margin-left: 69px;
  a{
    color: #B2B2B2;
    font-size:14px;
    text-decoration-line: none;

  }
  .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .picture{
      width: 278px;
      height: 121px;
    }
    .texts{
      margin-left: 24px;
      &_title{
        font-family: 'Inter', sans-serif;
        text-decoration-line: none;
        font-size: 26px;
        line-height: 25px;
        color:#0072BA;
      }
      &_inform{
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        line-height: 23px;
        color: #000000;
      }
    }
  }
  .line{
    margin-top: 30px;
    width: 1183px;
    height: 1px;
    background-color:#B2B2B2;
  }
}
