<template>
  <div class="main-wrapper">
    <Header />
    <div v-for="(oneNews, ind ) in allNews" :key="ind">
      <NewsList :news="oneNews" />
    </div>
    <Footer />
  </div>
</template>

<script>

import { defineComponent, ref } from 'vue';
import Header from '../components/Header';
import Footer from '../components/Footer';
import NewsList from '../components/newsList'

export default defineComponent({
  name: 'MainLayout',
  components: {
    Header,
    Footer,
    NewsList
  },
  data () {
    return{
      id: 12
    }
  },
  computed: {
    allNews () {
      return this.$store.state.news.allNews
    }
  },
  created() {
    this.$store.dispatch('news/getAllNews')
  }
})
</script>
